@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-lilac: #aa96da; /*Main 60%*/
  --color-white: white; /*Secondary 30%*/
  --color-purple-accent: #69478b; /*Accent 10%*/
  --color-gray: #cdd2da;
  --color-yellow: #faf033;
  --color-dark-purple: #8878ae;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  scroll-padding-top: 6rem;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  background-color: var(--color-lilac);
  color: var(--color-white);
}

h1 {
  font-size: xx-large;
  margin: 1rem 0;
}

h2 {
  margin-bottom: 1rem;
}

p {
  font-size: 1.6rem;
  font-weight: 600;
}

/* Header section */

header {
  width: 100%;
  background-color: var(--color-lilac);
  color: var(--color-white);
  position: fixed;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 6rem;
  /* padding-right: 0; */
}

.title {
  margin: 0;
  padding-left: 1rem;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

nav {
  width: 100%;
  max-width: 100%;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
  margin-right: 1rem;
}

nav > ul > li {
  margin: 0 2rem;
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
}

@media (max-width: 28.75em) {
  nav {
    justify-content: center;
  }

  nav-list ul {
    margin: 0 1rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

/*About/Welcome Section*/
#hero {
  text-align: left;
  margin: 0 2rem;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 1.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

#hero h3 {
  font-size: 1.8rem;
}

#name {
  color: var(--color-yellow);
  font-size: 6rem;
  font-weight: bold;
}

#desc {
  display: block;
  font-size: 4rem;
  font-weight: 500;
  color: var(--color-yellow);
  margin-bottom: 2rem;
}

#hero p {
  max-width: 60rem;
  /* text-align: justify; */
}

/* Projects Section */

#projects-section {
  background-color: var(--color-gray);
  color: var(--color-purple-accent);
  background-image: url("../images/keyboardsvg.svg");
  text-align: center;
  padding: 10rem 2rem;
}

#projects-section p {
  margin: 0 auto 6rem auto;
}

#projects-section > #projects-display > .project-tile > a {
  color: var(--color-purple-accent);
}

#projects-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 800px) {
  #projects-section {
    padding: 2rem;
  }

  #projects-display {
    grid-template-columns: 1fr;
  }
}

.project-tile {
  object-fit: cover;
  border-radius: 1rem;
  background-color: var(--color-white);
  padding: 1rem;
  height: 40rem;
}

.project-tile img {
  display: block;
  height: calc(100% - 3rem);
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.project-name,
.project-button {
  font-weight: bold;
  font-size: 1.8rem;
}

.project-button {
  text-align: right;
}

/* Profile Section */
#profile-section {
  background-color: var(--color-purple);
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
  flex-wrap: wrap;
  font-weight: 500;
}

.contact-details,
.contact-details i {
  font-size: 2.2rem;
  transition: transform 0.3s ease, color 0.3s ease;
  color: var(--color-white);
}

.contact-details:hover {
  transform: translate(0.5rem, 0.5rem);
}

.contact-details:hover i {
  color: var(--color-purple-accent);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
}
